/* Start global Rules */
body {
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h3 {
  font-size: 2.18rem;
}
.btn {
  font-size: 1.25rem;
}
.btn-secondary {
  background-color: #6D8EA2;
  border-color: #6D8EA2;
}
.btn-secondary:hover {
  background-color: #5b7b8e;
  border-color: #567486;
}
/* Start Header */
header nav {
  background-color: transparent;
  transition: all .5s;
}

header nav a {
  cursor: pointer;
  font-size: 1.09375rem !important;
  font-weight: 400;
}

header nav div a.sig-up {
  color: #0079BF;
  font-weight: 500 !important;
}

header nav div a.sig-up:hover {
  color: #0079BF;
}

/* End Header */

/* Start Hero */
.hero {
  background: linear-gradient(135deg, #0079bf, #5067c5);
  
}
.hero .container {
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 600;
}
.hero p {
  font-size: 1.5625rem;
  font-weight: 300;
}

.hero form input {
  width: 376px;
  outline: none;

}
.hero form button {
  font-size: 1.562rem;
  white-space: nowrap;
}

/* End Hero */
/* Start Collaborate */

.collaborate .board {
  background: linear-gradient(#3EB9DE, #3A80DE);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgb(74 115 159 / 29%);
  cursor: default;
  font-size: 1rem;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 18px;
  user-select: none;
}
.collaborate header {
  padding-bottom: 1rem;
}
.collaborate header h3 {
  margin: 0;
  width: fit-content;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background: rgba(11,86,139,0.25);
  border-radius: 6px;
  color: white;
  padding: 9px 15px;
}
.collaborate .board .lists {
  display: flex;
}
.collaborate .board .lists .list {
  margin: 0 10px 5px 0;
  width: 230px;
}
.collaborate .board .lists .list-content {
  background-color: #E5EFF5;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
  padding: 8px;
}
.collaborate .board .lists .list-content h5 {
  font-size: 1rem;
  letter-spacing: .5px;
  margin: 0 0 8px 3px;
}
.collaborate .board .lists .list-content .task {
  background-color: #fff;
  border-radius: 4px;
  font-size: .9rem;
  margin-bottom: 8px;
  padding: 6px 8px;
  min-height: 33px;
}
.collaborate .board .lists .list-content .task .label {
  border-radius: 3.5px;
  height: 7px;
  margin-right: 5px;
  width: 30px;
}
.collaborate .board .lists .list-content .task .label.label-blue {
  background-color: #00C2E0;
}
.collaborate .board .lists .list-content .task .label.label-red {
  background-color: #EB5A46;
}
.collaborate .board .lists .list-content .task .label.label-purple {
  background-color: #C377E0;
}
.collaborate .card-users {
  display: flex;
}
.collaborate .board .lists .list-content .task p {
  margin: 0;
}
.collaborate .board .lists .list-content .task .card-content {
  display: flex;
  justify-content: space-between;
}
.collaborate .board .lists .list-content .description {
  margin-bottom: 14px;
}
.collaborate .user {
  height: 28px;
  margin-left: 5px;
  width: 28px;
  background-repeat: no-repeat;
  background-size: contain;
}
.collaborate .user-1 {
  background-image: url('../images/user-1.png');
}
.collaborate .user-2 {
  background-image: url('../images/user-2.png');
}
.collaborate .user-3 {
  background-image: url('../images/user-3.png');
}
.add-card {
  color: #aaa;
  font-size: .9rem; 
  margin: 0 0 5px 5px;
}
/* End Collaborate */
/* Start Teams */
.teams .card-detail-window {
  background: linear-gradient(6deg, #e6fcff 0%, #fff 100%);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgb(74 115 159 / 29%);
  color: #959da1;
  cursor: default;
  user-select: none;
}
.teams .card-detail-window header {
  background: linear-gradient(6deg, #00b8d9 0%, #0065ff 100%);
  border-radius: 20px 20px 0 0;
  height: 90px;
  width: 100%;
}
.teams .card-detail-window .main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}
.teams .card-detail-window .main .window-header {
  padding-left: 25px;
  position: relative;
  width: 100%;
}
.card-detail-window .icon-lg,
.card-detail-window .icon-sm {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
.card-detail-window .icon-lg {
  height: 13px;
  width: 16px;
  left: 0;
  position: absolute;
  top: 0;
}
.window-header .icon-card {
  background-image: url('../images/icon-card.svg');
}
.card-detail-window .main .window-header .dummy-textblock-lg {
  max-width: 204px;
}
.card-detail-window .dummy-textblock-lg {
  border-radius: 4px;
  height: 12px;
  margin-bottom: 8px;
  margin-top: 1px;
}
.card-detail-window .dummy-textblock {
  background-color: #dfe1e6;
  display: block;
}
.card-detail-window .main .window-header .dummy-textblock-sm {
  max-width: 110px;
}
.card-detail-window .dummy-textblock-sm {
  border-radius: 2px;
  height: 4px;
  margin-bottom: 6px;
}
.card-detail-window .main .window-main-col {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  align-content: start;
  padding-right: 12px;
  padding-top: 20px;
}
.card-detail-window .main .window-main-col .list-members {
  margin-left: 25px;
  max-width: 106px;
  width: 50%;
}
.card-detail-window h3 {
  font-size: 10px;
  text-transform: uppercase;
}
.card-detail-window h4 {
  font-size: 10px;
}
.card-detail-window .user {
  background-repeat: no-repeat;
  background-size: contain;
  height: 22px;
  width: 22px;
}
.card-detail-window .user.user-2 {
  background-image: url('../images/user-2.png');
}
.card-detail-window .main .window-main-col .list-labels .block-label {
  background-color: #00c7e6;
  border-radius: 4px;
  display: inline-block;
  padding: 6px;
}
.card-detail-window .main .window-main-col .card-detail-desc {
  margin-top: 20px;
  padding-left: 25px;
  position: relative;
  width: 100%;
}
.card-detail-window .main .window-main-col .card-detail-desc .block-desc {
  background: rgba(179,245,255,0.3);
  border-radius: 4px;
  height: 57px;
  padding: 8px;
}
.card-detail-window .dummy-textblock {
  background-color: #dfe1e6;
  display: block;
}
.card-detail-window .dummy-textblock-md {
  border-radius: 4px;
  height: 8px;
}
.card-detail-window .main .window-main-col .list-labels .block-label .dummy-textblock {
  width: 52px;
}
.card-detail-window .icon-description {
  background-image: url('../images/icon-description.svg');
}
.card-detail-window .main .window-main-col .card-detail-desc .block-desc .dummy-textblock:last-child {
  max-width: 175px;
}
.card-detail-window .main .window-main-col .card-detail-activity {
  margin-top: 25px;
  padding-left: 25px;
  position: relative;
  width: 100%;
}
.card-detail-window .icon-activity {
  background-image: url('../images/icon-activity.svg');
}
.card-detail-window .main .window-main-col .card-detail-activity .block-activity {
  margin-left: -28px;
}
.card-detail-window .user.user-3 {
  background-image: url('../images/user-3.png');
}
.card-detail-window .user {
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 22px;
  width: 22px;
}
.card-detail-window .main .window-main-col .card-detail-activity .block-comment {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 #dfe1e5;
  margin-left: 28px;
  padding: 8px;
}
.card-detail-window .main .window-main-col .card-detail-activity .block-comment .dummy-textblock {
  max-width: 175px;
}
.card-detail-window .main .window-main-col .card-detail-activity .block-comment .dummy-textblock:nth-of-type(2) {
  max-width: 119px;
}
.card-detail-window .main .window-main-col .card-detail-activity .block-button {
  background: #24b458;
  border-radius: 4px;
  height: 15px;
  max-width: 36px;
}
.card-detail-window .main .window-main-col .card-detail-activity .block-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -9px 8px 0 0;
  width: 84px;
}
.card-detail-window .icon-sm {
  height: 8px;
  width: 8px;
}
.card-detail-window .icon-attachment {
  background-image: url('../images/icon-attachment.svg');
}
.card-detail-window .icon-mention {
  background-image: url('../images/icon-mention.svg');
}
.card-detail-window .icon-emoji {
  background-image: url('../images/icon-emoji.svg');
}
.card-detail-window .icon-card {
  background-image: url('../images/icon-card.svg');
}
  /* Start  .window-sidebar */
.card-detail-window .main .window-sidebar {
  margin-top: -22px;
  width: 102px;
}
.card-detail-window .main .window-sidebar h3 {
  font-size: 9px;
  line-height: 15px;
  margin: 11px 0 4px;
}
.card-detail-window .main .window-sidebar .button-link {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(179,245,255,0.3);
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 4px;
  padding: 5px 0 5px 9px;
}
.card-detail-window .icon-member {
  background-image: url('../images/icon-member.svg');
}
.card-detail-window .main .window-sidebar p {
  font-size: 8px;
  line-height: 12px;
  margin: 0;
  padding-left: 7px;
}
.card-detail-window .icon-label {
  background-image: url('../images/icon-label.svg');
}
.card-detail-window .icon-checklist {
  background-image: url('../images/icon-checklist.svg');
}
.card-detail-window .icon-clock {
  background-image: url('../images/icon-clock.svg');
}
.card-detail-window .icon-card-cover {
  background-image: url('../images/icon-card-cover.svg');
}
.card-detail-window .icon-rocket {
  background-image: url('../images/icon-rocket.svg');
}
.card-detail-window .icon-move {
  background-image: url('../images/icon-move.svg');
}
.card-detail-window .icon-subscribe {
  background-image: url('../images/icon-subscribe.svg');
}
/* End Teams */

/* Start Slider */
.slider {
  padding-bottom: 1rem;
}
.slider h3,
.slider p {
  margin: auto;
}
.slider h3 {
  width: 100%;
  margin-bottom: .5rem;
}
.slider p {
  width: 50%;
  margin-bottom: 1rem;
}
.slider #carousel {
  display: flex;
  justify-content: space-between;
}
.slider .boards {
  order: 2;
  position: relative;
}
.slider .board {
  display: none;
  position: relative;
  overflow: hidden;
}
.slider .board img {
  max-width: 100%;
}
.slider .board p{
  position: absolute;
  bottom: -17px;
  color: #fff;
  background-color: rgba(48,54,76,0.8);
  width: 100%;
  padding: 15px;
  padding-bottom: 45px;
  border-radius: 0 0 1rem 1rem;
}
.slider .board img{
  border-radius: 1rem;
}
.slider .board.active {
  display: block;
}
#next, #prev {
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#next:hover, #prev:hover {
  background-color: #00C2E0;
  color: #fff;
}
#next{
  order: 3;
  align-self: center;
}
#prev {
  order: 1;
  align-self: center;
}
.slider ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 20px;
}
.slider ul li {
  width: 10px;
  height: 10px;
  background-color: #00C2E0;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.slider ul li.selcted,
.slider ul li:hover {
  border: 7px solid #00C2E0;
}
/* End Slider */
/* Start Features */
#features {
  padding-bottom: 1rem;
}
#features h3,
#features p {
  margin: auto;
}
#features h3 {
  width: 100%;
  margin-bottom: .5rem;
}
#features p {
  width: 50%;
  margin-bottom: 1rem;
}
#features p.small {
  width: 100%;
}
#features .btn.btn-wrap {
  white-space: nowrap;
}
#features p.app-store{
  width: 100%;
}
#features p.app-store a img {
  border-radius: .3em;
  box-shadow: 0 1px 0 #a5acb0;
  display: inline;
  height: 44px;
  margin: 0;
  opacity: .8;
  width: auto;
}
#features p.app-store a img:hover{
  opacity: 1;
}
/* End Features  */
/* Start Work Smarter */
#bottom-gradient {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(46%, #f7ecff), color-stop(74%, #d2ecff), to(#fff));
  background: linear-gradient(to bottom, #fff 0%, #f7ecff 46%, #d2ecff 74%, #fff 100%);
}
#work-smarter .inner {
  background: linear-gradient(180deg, #42548e 0%, #6b668c 100%);
  border-radius: 12px;
}
#work-smarter .inner img {
  max-height: 60px;
}
/* End Work Smarter */

/* Start Footer */
.footer {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px;
  color: cornflowerblue;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  display: inline-block;
  margin: 10px 15px;
}

.footer ul li a {
  text-decoration: none;
  color: cornflowerblue;
}
.footer ul li a:hover {
  text-decoration: underline;
  color: blue;
}
/* End Footer */


@media (min-width: 768px){
  #get-started {
      background-image: url('../images/trellians-2x-2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1332px 393px;
      height: 393px;
  }

}


@media (max-width: 992px){
  .hero h1 {
    font-size: 2rem;
  }
  .hero form input[type="submit"] {
    width: 255px;
  }
}

@media (max-width: 768px){
  .hero h1 {
    font-size: 2rem;
  }
  .hero form {
    flex-wrap: wrap;
  }
  .hero form input[type="submit"] {
    margin-top: 20px;
    width: 376px;
  }
}